{% if blog.heading %}
<section>
    <div class="container intro-section">
        <div class="row">
            <div class="col-12">
                <!-- Blog heading -->
                <h2>{{ blog.heading|safe }}</h2>
                <!-- Published date-->
                <p><em>{{ blog.published_date|safe }}</em></p>
                <!-- Blog content -->
                <div class="blog_content">
                    {{ blog.blog_content|safe }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}