{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Blog {% endblock %}
{% block content %}
    {% include "includes/main-nav.html" %}
    <!-- Breadcrumb Menu -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Bag</li>
        </ol>
    </nav>
    <!-- Page Title -->
    <div class="page-heading">
        <div class="container">
            <h1>Shopping Bag</h1>
            <div class="heading-border"></div>
        </div>
    </div>  
    <!-- Introduction section-->
    <section>
        <div class="container page-section">
            <div class="row">
                <p>
                    Looking to learn more about all things digital? Check out our latest blog posts below on a range of different topics:
                </p>
            </div>
        </div>
    </section>
    <!-- CI CODE -->
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    {% for item in bag_items %}
                        {{ item.addon.price }}
                        {{ item.quantity }}
                        {{ item.addon.name }}
                    {% endfor %}
                {% else %}
                    <p class="text-uppercase">Your bag is empty.</p>
                    <a href="{% url 'addons' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% include "includes/footer.html" %}
{% endblock %}