{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Freelance Website Development {% endblock %}

{% block page_header %}
    <header>
        {% include "includes/main-nav.html" %}
        <div class="hero-image">
            <div class="container">
                <h1 class="hero-h1">Freelance Website <br> Development</h1>
                <ul class="ul-hero">
                    <li>Affordable Prices</li>
                    <li>24/7 Support</li>
                    <li>100% Customer Satisfaction</li>
                </ul>
                <!-- Resource: https://getbootstrap.com/docs/4.0/components/buttons/ -->
                <a href="#" role="button" class="btn hero-btn">Our Services</a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container page-section">
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6 home-quote-section">
                <h2>
                    <!-- Resource: Font Awesome quote icon - https://fontawesome.com/v5.15/icons/quote-left?style=solid -->
                    <i class="fas fa-quote-left"></i>
                    I'm passionate about helping <br> 
                    small businesses get online
                    <i class="fas fa-quote-right"></i>
                </h2>
                <br>
                <p>It has never been more important for businesses <br>
                to have a strong online presence... I'm committed <br> to providing this.</p>
                <button class="btn custom-button">
                    About WEBI
                </button>
            </div>
        </div>
    </div>
{% endblock %}