{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Freelance Website Development {% endblock %}
<!-- Hero Image -->
{% block page_header %}
    <header>
        {% include "includes/main-nav.html" %}
        <div class="hero-image">
            <div class="container">
                <h1 class="hero-h1 hero-h1-animation">Freelance Website <br> Development</h1>
                <ul class="custom-ul">
                    <li>Affordable Prices</li>
                    <li>Bespoke Design</li>
                    <li>100% Customer Satisfaction</li>
                </ul>
                <!-- Resource: https://getbootstrap.com/docs/4.0/components/buttons/ -->
                <a href="{% url 'addons' %}" role="link" class="btn custom-button">Explore Website Add-ons</a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <!-- Quote Section -->
    {% include "includes/about_quote.html" %}
    <!-- Our Services Section -->
    {% include "includes/our_services.html" %}
    <!-- Featured Case Study Section -->
    {% include "includes/featured_case_study.html" %}
    <!-- Footer -->
    {% include "includes/footer.html" %}
{% endblock %}