<section>
    <div class="container intro-section">
        <div class="row">
            <div class="col-6">
                <P>
                    Are you considering freelance website design or development for your business? Explore the case studies below which demonstrate some of my previous work for clients across a broad selection of industries.
                </P>
            </div>
            <div class="col-6">
                <P>
                    I've built websites ranging from static single page sites all the way up to more complex and large multi-page websites. Furthermore, all clients were offered bespoke website design as part of their package.
                </P>
            </div>
        </div>
    </div>
</section>