<section>
    <div class="container homepage-section">
        <div class="row">
            <div class="col-12">
                <h2>Featured Case Studies</h2>
                <br>
            </div>
            {% for casestudy in casestudies %}
                {% if casestudy.featured == True %}
                    <div class="casestudies col-md-12 col-lg-5">
                        <!-- Case study image -->
                        <div class="box">
                            <img src="{{ MEDIA_URL }}{{ casestudy.image }}" class="casestudy-image">
                        </div>
                        <h2><a href="{% url 'casestudy_content' casestudy.slug %}">{{ casestudy.heading|safe }}</a></h2>
                        <p>{{ casestudy.case_study_content|truncatechars:200|safe }}</p>
                        <a class="btn custom-button" type="button" href="{% url 'casestudy_content' casestudy.slug %}">Read More</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>