<section class="page-section home-services">
    <div class="container section-padding">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h2>Our Services</h2>
                <p>I offer freelance design, development, <br> marketing & Hosting services.
                    Explore WEBI's bundles and add-on services.</p>
                <a href="{% url 'services' %}" class="btn services-button">
                    Services
                </a>
            </div>
            <div class="col-sm-12 col-md-4 services-list ul-services">
                <h4>Website Development</h4>
                <ul>
                    <li>Bespoke Design</li>
                    <li>Small to large sites</li>
                    <li>Professional Service</li>
                </ul>
                <h4>SEO Services</h4>
                <ul>
                    <li>Keyword Research</li>
                    <li>Reporting</li>
                    <li>Content Review</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4 ul-services">
                <h4>Graphic Design</h4>
                <ul>
                    <li>Web Graphics</li>
                    <li>Social Media Graphics</li>
                    <li>Branded Designs</li>
                </ul>
                <h4>Hosting</h4>
                <ul>
                    <li>Domain Management</li>
                    <li>Security Monitoring</li>
                    <li>Renewals</li>
                </ul>
            </div>
        </div>
    </div>
</section>