<section class="homepage-section home-services">
    <div class="container">
        <div class="row">
            <div class="col-4 section-padding">
                <h2>Our Services</h2>
                <p>I offer freelance design, development, <br> marketing & Hosting services.
                <p>Explore WEBI's bundles and add-on services.</p>
                <a href="#" class="btn custom-button">
                    Services
                </a>
            </div>
            <div class="col-4 services-list section-padding ul-services">
                <h4>
                    <!-- <i class="fas fa-solid fa-desktop"></i> -->
                    Website Development
                </h4>
                <ul>
                    <li>Bespoke</li>
                    <li>Affordable</li>
                    <li>Professional</li>
                </ul>
                <h4>
                    <!-- <i class="fas fa-bullseye"></i> -->
                    SEO Services
                </h4>
                <ul>
                    <li>Bespoke</li>
                    <li>Affordable</li>
                    <li>Professional</li>
                </ul>
            </div>
            <div class="col-4 section-padding ul-services">
                <h4>
                    <!-- <i class="fas fa-solid fa-paint-brush"></i> -->
                    Graphic Design
                </h4>
                <ul>
                    <li>Bespoke</li>
                    <li>Affordable</li>
                    <li>Professional</li>
                </ul>
                <h4>
                    <!-- <i class="fas fa-solid fa-suitcase"></i> -->
                    Hosting
                </h4>
                <ul>
                    <li>Bespoke</li>
                    <li>Affordable</li>
                    <li>Professional</li>
                </ul>
            </div>
        </div>
    </div>
</section>