/* ---------- Site-wide Styling ---------- */

h1, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif;
    color: #093d60;
    font-weight: 700;
}

p {
    font-family: 'Roboto', sans-serif;
}

.page-section {
    margin-top: 80px;
}

.intro-section {
    margin-top: 30px;
    margin-bottom: 30px;

}

.homepage-section {
    margin-top: 150px;
}

.section-padding {
    padding: 60px 0px;
}

.primaryAction, .custom-button {
    background-color: #093d60 !important;
    color: white !important;
    padding: 5px 20px !important;
    margin-top: 10px !important;
    border-radius: 10px !important;
    font-size: 20px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.primaryAction:hover, .custom-button:hover {
    color: #feb5c5 !important;
    font-weight: 600 !important;
}

.secondary-link {
    border-color: #093d60;
    color: #093d60;
    padding: 5px 20px !important;
    margin-top: 10px !important;
    border-radius: 10px !important;
    font-size: 20px !important;
}

.secondary-link:hover {
    color: white;
    background-color: #093d60;
}

header {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.header-container {
    padding-top: 200px;
}

.page-heading {
    margin-top: 50px;
    height: 80px;
    padding: 15px 0px;
}

.heading-border {
    width: 80px;
    height: 4px;
    background: #feb5c5;
}

.breadcrumb {
    background-color: white;
    box-shadow: none !important;
}

.breadcrumb li {
    color: #093d60 !important;
}

.breadcrumb .active {
    color: #093d60 !important;
    font-weight: bold;
}

.breadcrumb a {
    color: #093d60;
}

.internal-link {
    background-color: #093d60;
    color: white;
    border-radius: 10px;
    margin-top: 30px;
}

.internal-link:hover {
    font-weight: 600;
    color: white;
}

/* ---------- Website Header ---------- */

.top-header {
    background-color: #093d60;
    height: 40px;
}

.top-header a {
    color: white;
    float: right;
    padding-right: 30px;
    padding-top: 7px;
}

.myaccount-dropdown a {
    color: black;
}

.myaccount-btn {
    color: white !important;
}

.myaccount-btn:hover {
    font-weight: 700;
}

.top-header i {
    font-size: 20px;
    color: white;
}

.basket-total:hover {
    font-weight: 700;
    text-decoration: none;
}

.logo {
    width: 150px;
    margin-right: 40px;
}

.custom-nav {
    /* Resource: Drop shadow generator - https://cssgenerator.org/box-shadow-css-generator.html */
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.48);
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.164);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.48);
}

.custom-nav {
    background: white !important;
    min-height: 120px;
}

.nav-item:hover {
    color: #feb5c5 !important;
}

.hero-image {
    /* Image source from Pexels - https://www.pexels.com/photo/silver-iphone-6-near-macbook-pro-1036841/ */
    background: url(/../media/hero-image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.hero-h1 {
    color: #093d60;
    font-size: 50px;
    padding-top: 110px;
}

/* Resource: Animation sourced from https://stackoverflow.com/questions/55227106/css-animation-text-sliding-left-to-right */

.hero-h1-animation {
    width: 100%;
    overflow: hidden;
    max-width: 500px
  }
  
.hero-h1-animation {
    animation: 0.5s slide-right forwards;
      transform:translateX(-100%);
  }
  
@keyframes slide-right {
    to {
      transform:translateX(0);
    }
  }


/* Change colour of bullet point code sourced from W3schools - https://www.w3schools.com/howto/howto_css_bullet_color.asp */
.ul-hero, .custom-ul {
    list-style: none;
}

.ul-hero, .custom-ul li::before {
    /* Unicode for arrow sourced from - https://unicode-table.com/en/203A/ */
    content: "\203A";
    color: #feb5c5; 
    font-weight: bold;
    font-size: 24px;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/* ---------- Homepage ---------- */

.fas {
    color: #feb5c5; 
}

/* Resource: Code souced from - https://www.tutorialrepublic.com/codelab.php?topic=faq&file=css-overlay-one-div-over-another-div */

.box-container {
    position: relative;
}

.home-services {
    background-color:#093d60;
    color: white;
}

.home-services h2 {
    color: white;
}

.home-services h4 {
    color: white;
}

.services-button {
    background-color: white;
    padding: 5px 20px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.services-button:hover {
    font-weight: 600;
}

.ul-services li {
    list-style: none;
}

.ul-services i {
    font-size: 17px;
    padding-right: 10px;
    color:#093d60;
}

.ul-services li::before {
    /* Unicode for arrow sourced from - https://unicode-table.com/en/203A/ */
    content: "\203A";
    color: #feb5c5; 
    font-weight: bold;
    font-size: 24px;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/* ---------- Footer ---------- */

footer {
    background-color: #093d60;
    color: white;
    padding: 40px 0;
    /*-- Resource: Footer push to boottom https://www.codegrepper.com/code-examples/css/how+can+we+fix+footer+at+bottom+bootstrap> */
    left: 0;
    bottom: 0;
    width: 100%;
}

footer h4, footer a {
    color: white !important;
    text-decoration: none !important;
}

footer a:hover{
    color: #feb5c5;
}

footer i {
    font-size: 45px;
    padding: 7px;
}

footer .logo {
    padding-bottom: 30px;
}

/* ---------- About Page ---------- */



/* ---------- Blog & Case Study Pages  ---------- */

.blog-card, .casestudies {
    margin: 30px;
    padding: 40px;
    min-height: 120%;
    background-color: #fafafa;
    border-top: 5px solid #feb5c5;
    border-radius: 10px;
}

.blog-image, .casestudy-image {
    /* Resource: Crop image without losing aspect ratio - https://www.digitalocean.com/community/tutorials/css-cropping-images-object-fit */
    width: 100%; 
    height: 240px;
    object-fit: cover;
    padding-bottom: 30px;
}

.blog-post-image {
    width: 100%;
}

.box {
    width: 100%;
}

.casestudies h2 a {
    text-decoration: none;
    color: #093d60;
}

.blog-card h2 a {
    text-decoration: none;
    color: #093d60;
}

.case_study_content, .blog_content {
    margin-left: 15px;
    margin-right: 15px;
}

/* ---------- Services Pages ---------- */

.services-intro a {
    color: #093d60; 
}

.service-filter {
    margin: 15px 0px;
    
}

.filter-button {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    color: black;
}

.filter-button:hover {
    color: #093d60;
    text-decoration: none;
}

.filter-button.active {
    background-color: #666;
    color: white;
}

.service-type {
    color: darkgray;
}

.service-btn {
    background-color: #093d60;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 40px;
}

.service-btn:hover {
    color: #feb5c5;
}

.service-name {
    background-color: #093d60;
    color: white;
    padding: 7px 0px;
    text-align: center;
    margin: 0px;
}

.service-image {
    width: 100%;
    height: 100%;
}

.service-description {
    border: .5px solid lightgray;
}


.service-qty {
    margin-left: 10px;
    border-radius: 10px;
}

.service-custom-button {
    background-color: #093d60;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.service-custom-button:hover {
    color: #feb5c5;
    font-weight: 600;
}

.admin-edit, .admin-delete {
    color: #093d60;
}

.edit-delete-background {
    background-color: rgba(230, 230, 230, 0.397);
    padding: 7px;
    border-radius: 10px;
}

.edit-delete-background i, .fa-credit-card {
    color: #093d60;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* ---------- Checkout/ Bag Pages ---------- */

.update-link,
.remove-item {
    cursor: pointer;
}

.checkout-btn {
    background-color: #093d60;
    padding: 6px 8px;
    color: white;
    border-radius: 10px;
}

.checkout-btn:hover {
    color: #feb5c5;
    font-weight: 600;
}

.adjust-bag-link, .keep-shopping-link {
    color: #093d60;
    font-size: 20px;
}

.checkout-info {
    color: black;
}

.form-check-label a {
    color: #feb5c5 !important;
}

.form-check-label a:hover {
    color: #093d60 !important;
}
/* ---------- Bootstrap toasts ---------- */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ---------- Allauth form styling ---------- */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content p a {
	color: #093d60;
}

/* ---------- Add/edit Service Page  ---------- */

.form-control {
    background-color: white !important;
    color: black !important;
}

.add-edit-service-form, .profile-form {
    padding-bottom: 100px;
    padding-top: 20px;
}

/* ---------- Media Queries ---------- */

@media (mid-width: 992px) {
    .container {
        max-width: 80%;
    }
}

/* Homepage */

@media (max-width: 767px) {
    .ul-services {
        display: none;
    }

    .home-services {
        text-align: center;
    }
}

/* About Page */

@media (max-width: 766px) {
    .about-image {
        padding-bottom: 50px;
    }
    .about-quote {
        text-align: center;
        padding-bottom: 30px;
    }
}

/* Blog page */

@media (max-width: 766px) {
    .blog-post-image {
        display: none;
    }
}

/* Services Page */

@media (max-width: 991px) {
    .service-image {
        width: 100%; 
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 766px) {
    .service-detail-image  {
        display: none;
    }
}


@media (max-width: 767px) {
    .service-image {
        height: 200px;
    }
    .type {
        padding-left: 15px;
    }
    .service-content p {
        padding-left: 15px;
        padding-right: 15px;
    }
    .service-custom-button {
        margin-left: 15px;
    }
    .edit-delete-background {
        margin-left: 15px;
    }
    .service-image {
        padding-bottom: 10px;
    }
}

