/* ---------- Site Header ---------- */

.logo {
    width: 150px;
}
.custom-nav {
    background: white !important;
}

.nav-item:hover {
    color: #feb5c5 !important;
}

.hero-image {
    background: url(/../media/hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
