/* ---------- Site-wide Styling ---------- */

h1, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif;
    color: #093d60;
}

p {
    font-family: 'Roboto', sans-serif;
}

.page-section {
    margin-top: 50px;
}

.homepage-section {
    margin-top: 150px;
}

.section-padding {
    padding: 60px 0px;
}

.primaryAction, .custom-button {
    background-color: #093d60;
    color: white !important;
    padding: 5px 20px !important;
    margin-top: 20px !important;
    border-radius: 10px !important;
    font-size: 20px !important;
}

.primaryAction:hover, .custom-button:hover {
    color: #feb5c5 !important;
    font-weight: 600 !important;
}

.secondary-link {
    border-color: #093d60;
    color: #093d60;
    padding: 5px 20px !important;
    margin-top: 20px !important;
    border-radius: 10px !important;
    font-size: 20px !important;
}

.secondary-link:hover {
    color: white;
    background-color: #093d60;
}

header {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.header-container {
    padding-top: 200px;
}

.page-heading {
    margin-top: 50px;
    height: 80px;
    padding: 15px 0px;
}

.heading-border {
    width: 80px;
    height: 4px;
    background: #feb5c5;
}

.breadcrumb {
    background-color: white;
    box-shadow: none !important;
}

.breadcrumb li {
    color: #093d60 !important;
}

.breadcrumb .active {
    color: #093d60 !important;
    font-weight: bold;
}

.breadcrumb a {
    color: #093d60;
}

.internal-link {
    background-color: #093d60;
    color: white;
    border-radius: 10px;
    margin-top: 30px;
}

.internal-link:hover {
    font-weight: 600;
    color: white;
}

/* ---------- Website Header ---------- */

.top-header {
    background-color: #093d60;
    height: 40px;
}

.top-header a {
    color: white;
    float: right;
    padding-right: 30px;
    padding-top: 7px;
}

.myaccount-dropdown a {
    color: black;
}

.myaccount-btn {
    color: white !important;
}

.myaccount-btn:hover {
    font-weight: 700;
}

.top-header i {
    font-size: 20px;
    color: white;
}

.top-header i:hover {
    color: #feb5c5;
}

.logo {
    width: 150px;
    margin-right: 125px;
}

.custom-nav {
    /* Resource: Drop shadow generator - https://cssgenerator.org/box-shadow-css-generator.html */
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.48);
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.164);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.48);
}

.custom-nav {
    background: white !important;
    height: 120px;
}

.nav-item:hover {
    color: #feb5c5 !important;
}

.hero-image {
    /* Image source from Pexels - https://www.pexels.com/photo/black-ball-point-pen-with-brown-spiral-notebook-733852/ */
    background: url(/../media/hero-3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.hero-h1 {
    color: #093d60;
    font-size: 50px;
    padding-top: 110px;
}

/* Resource: Animation sourced from https://stackoverflow.com/questions/55227106/css-animation-text-sliding-left-to-right */

.hero-h1-animation {
    width: 100%;
    overflow: hidden;
    max-width: 500px
  }
  
.hero-h1-animation {
    animation: 0.5s slide-right forwards;
      transform:translateX(-100%);
  }
  
@keyframes slide-right {
    to {
      transform:translateX(0);
    }
  }


/* Change colour of bullet point code sourced from W3schools - https://www.w3schools.com/howto/howto_css_bullet_color.asp */
.ul-hero, .custom-ul {
    list-style: none;
}

.ul-hero, .custom-ul li::before {
    /* Unicode for arrow sourced from - https://unicode-table.com/en/203A/ */
    content: "\203A";
    color: #feb5c5; 
    font-weight: bold;
    font-size: 24px;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/* ---------- Homepage ---------- */

.fas {
    color: #feb5c5; 
}

.home-quote-section {
    text-align: right;
}

/* Resource: Code souced from - https://www.tutorialrepublic.com/codelab.php?topic=faq&file=css-overlay-one-div-over-another-div */

.box-container{
    position: relative;
}

.stacked-top {
    width: 75%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1; 
}

.stacked-bottom {
    width: 30%;
    position: relative;
    top: 65%;
    left: 60%;
    opacity: 0.8; 
}

.home-services {
    background-color:#093d6005;
}

.ul-services li {
    list-style: none;
}

.ul-services i {
    font-size: 17px;
    padding-right: 10px;
    color:#093d60;
}

.ul-services li::before {
    /* Unicode for arrow sourced from - https://unicode-table.com/en/203A/ */
    content: "\203A";
    color: #feb5c5; 
    font-weight: bold;
    font-size: 24px;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/* ---------- Footer ---------- */

footer {
    background-color: #093d60;
    color: white;
    padding: 40px 0;
}

footer h4, footer a {
    color: white !important;
    text-decoration: none !important;
}

footer a:hover{
    color: #feb5c5;
}

footer i {
    font-size: 45px;
    padding: 7px;
}

footer .logo {
    padding-bottom: 30px;
}

/* ---------- Blog & Case Studies Pages  ---------- */

.blog, .casestudies {
    margin: 30px;
    padding: 40px;
    min-height: 120%;
    background-color: rgba(211, 211, 211, 0.178);
    border-top: 5px solid #feb5c5; 
}

.blog-image, .casestudy-image {
    /* Resource: Crop image without losing aspect ratio - https://www.digitalocean.com/community/tutorials/css-cropping-images-object-fit */
    width: 100%; 
    height: 190px;
    object-fit: cover;
    padding-bottom: 30px;
}

.box {
    width: 100%;
}

.casestudies h2 a {
    text-decoration: none;
    color: #093d60;
}

.blog h2 a {
    text-decoration: none;
    color: #093d60;
}

/* ---------- Add-on page ---------- */

.addon-type {
    color: darkgray;
}

.addon-btn {
    background-color: #093d60;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 40px;
}

.addon-btn:hover {
    color: #feb5c5;
}

.addon-name {
    background-color: #093d60;
    color: white;
    padding: 7px 0px;
    text-align: center;
    margin: 0px;
}

.service-image {
    width: 100%;
}

.service-description {
    border: .5px solid lightgray;
}

.addon-filter {
    margin: 15px 0px;
    
}

.filter-button {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    color: black;
}

.filter-button:hover {
    color: #093d60;
    text-decoration: none;
}

.filter-button.active {
    background-color: #666;
    color: white;
  }

  .addon-qty {
    margin-left: 10px;
    border-radius: 10px;
  }


/* ---------- Bundles Page ---------- */

.ul-bundle {
    list-style: none;
}

/* Change colour of bullet point code sourced from W3schools - https://www.w3schools.com/howto/howto_css_bullet_color.asp */
.custom-ul {
    list-style: none;
}

.ul-bundle ::before {
    /* Unicode for arrow sourced from - https://unicode-table.com/en/2713/ */
    content: "\2713";
    color: #feb5c5; 
    font-weight: bold;
    font-size: 24px;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.ul-bundle li {
    line-height: 0px;
}

.bundle p {
    padding-left: 10px;
    padding-right: 10px;
}

.bundle li {
    padding-left: 20px;
}

.bundle-category {
    color: darkgray;
    padding-left: 10px;
}

.bundle-price {
    padding-top: 15px;
    margin: 0;
}

.bundle-btn {
    background-color: #093d60;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
}

.bundle-btn:hover {
    color: #feb5c5;
}

/* ---------- Checkout/ Bag Pages ---------- */

.update-link,
.remove-item {
    cursor: pointer;
}

.checkout-btn {
    background-color: #093d60;
    padding: 6px 8px;
    color: white;
    border-radius: 10px;
}

.checkout-btn:hover {
    color: #feb5c5;
    font-weight: 600;
}

.adjust-bag-link, .keep-shopping-link {
    color: #093d60;
    font-size: 20px;
}

.checkout-info {
    color: black;
}

.form-check-label a {
    color: #feb5c5 !important;
}

.form-check-label a:hover {
    color: #093d60 !important;
}
/* ---------- Bootstrap toasts ---------- */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ---------- Allauth form styling ---------- */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content p a {
	color: #093d60;
}

/* ---------- Add Service Page  ---------- */

.form-control {
    background-color: white !important;
    color: black !important;
}

.add-service {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* ---------- Media Queries ---------- */

@media (mid-width: 992px) {
    .container {
        max-width: 80%;
    }
}
