{% load static %}

<footer class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 footer-padding">
                <img src="{{ MEDIA_URL }}webi-logo-white.png" class="logo">
                <p>
                    Through WEBI, I offer a range of freelance website
                    design, development and marketing services at an affordable price for your business.<br>
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 services-list footer-padding ul-services">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'casestudies' %}">Case Studies</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 footer-padding">
                <h4>Find Us:</h4>
                <a href="https://www.facebook.com" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a href="https://www.instagram.com" target="_blank">
                    <i class="fab fa-instagram-square"></i>
                </a>
                <a href="https://www.linkedin.com" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</footer>