{% load static %}

<footer class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-4 section-padding">
                <img src="/media/webi-logo-white.png" class="logo">
                <p>WEBI is a freelance website design <br> 
                and development company.</p>
            </div>
            <div class="col-4 services-list section-padding ul-services">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="{% url 'casestudies' %}">Case Studies</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                </ul>
            </div>
            <div class="col-4 section-padding">
                <h4>Find Us:</h4>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-instagram-square"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>