{% extends "base.html" %}
{% load static %}

{% block extra_title %} - {{ blog.title }} {% endblock %}

{% block content %}
    <div class="correct-header">
    </div>
    <!-- Breadcrumb Menu -->
    {% include "includes/blog_post_breadcrumbs.html" %}
    <!-- Page Title -->
    <div class="page-heading">
        <div class="container">
            <h1>Blog</h1>
            <div class="heading-border"></div>
        </div>
    </div>
    <!-- Blog Content -->
    {% include "includes/blog_post_content.html" %}
    <!-- Internal Link -->
    {% include "includes/back_to_blog_link.html" %}
    <!-- Footer-->
    {% include "includes/footer.html" %}
{% endblock %}