{% extends "base.html" %}
{% load static %}

{% block extra_title %} - {{ blog.title }} {% endblock %}
{% block content %}
    {% include "includes/main-nav.html" %}
    <!-- Breadcrumb Menu -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blog</li>
        </ol>
    </nav>
    <!-- Page Title -->
    <div class="page-heading">
        <div class="container">
            <h1>Blog</h1>
            <div class="heading-border"></div>
        </div>
    </div>
    <!-- Blog Content -->
    {% if blog.heading %}
        <section>
            <div class="container page-section">
                <div class="row">
                    <div class="col-12">
                        <h2>{{ blog.heading }}</h2>
                        <p class="page-section">{{ blog.blog_content }}</p>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% include "includes/footer.html" %}
{% endblock %}