{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Blog {% endblock %}
{% block content %}
    {% include "includes/main-nav.html" %}
    <!-- Breadcrumb Menu -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Blog</li>
        </ol>
    </nav>
    <!-- Page Title -->
    <div class="page-heading">
        <div class="container">
            <h1>Blog</h1>
            <div class="heading-border"></div>
        </div>
    </div>  
    <!-- Introduction section-->
    <section>
        <div class="container page-section">
            <div class="row">
                <p>
                    Looking to learn more about all things digital? Check out our latest blog posts below on a range of different topics:
                </p>
            </div>
        </div>
    </section>
    <!-- Blogs section -->
    {% include "includes/blog_card.html" %}
{% include "includes/footer.html" %}
{% endblock %}