<section>
    <div class="container page-section">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <p>
                    Hi there, I'm Jess. My passion for website development, design and marketing led me to set up WEBI in 2021. Having worked in Marketing for over four years, I knew all to well how expensive website development projects could be. This often made website services inaccessible for small business and start-up companies as they did not have a budget big enough to meet these costs.
                </p>
            </div>
            <div class="col-xs-12 col-md-6">
                <p>
                    I'm passionate about helping small businesses get online and through WEBI I offer companies a broad range of services to achieve their marketing, design and development goals. Explore my service offerings below and check out some of my case studies from previous customers to get an idea of what WEBI is all about.
                </p>
            </div>
        </div>
    </div>
</section>