{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Case Studies {% endblock %}
{% block content %}
    {% include "includes/main-nav.html" %}
    <!-- Breadcrumb Menu -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Case Studies</li>
        </ol>
    </nav>
    <!-- Page Title -->
    <div class="page-heading">
        <div class="container">
            <h1>Case Studies</h1>
            <div class="heading-border"></div>
        </div>
    </div>
    <!-- Introduction section-->
    <section>
        <div class="container page-section">
            <div class="row col-xs-12 col-lg-11">
                <p>
                    Are you considering freelance website design or development for your business? Explore the case studies below which demonstrate some of my previous work for clients across a broad selection of industries. I've built websites ranging from static single page sites all the way up to more complex and large multi-page websites. Furthermore, all clients were offered bespoke website design as part of their package.
                </p>
            </div>
        </div>
    </section>
    <!-- Case studies section -->
    <section>
        <div class="container page-section">
            <div class="row">
                {% for casestudy in casestudies %}
                    <div class="casestudies col-md-12 col-lg-5">
                        <div class="box">
                            <img src="/media/{{ casestudy.image }}" class="casestudy-image">
                        </div>
                        <h2>{{ casestudy.heading }}</h2>
                        <p>{{ casestudy.case_study_content|truncatechars:200 }}</p>
                        <a class="btn custom-button" type="button" href="{% url 'casestudy_content' casestudy.slug %}">Read More</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% include "includes/footer.html" %}
{% endblock %}