{% extends "base.html" %}
{% load static %}

{% block extra_title %} - {{ casestudy.title }} {% endblock %}

{% block content %}
    <div class="correct-header">
    </div>
    <!-- Breadcrumb Menu -->
    {% include "includes/case_study_content_breadcrumbs.html" %}
    <!-- Page Heading -->
    <div class="page-heading">
        <div class="container">
            <h1>Case Studies</h1>
            <div class="heading-border"></div>
        </div>
    </div>
    <!-- Case Study Post Section-->
    {% include "includes/case_study_post.html" %}
    <!-- Internal Link -->
    {% include "includes/back_to_case_studies_link.html" %}
    <!-- Footer -->
    {% include "includes/footer.html" %}
{% endblock %}