{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Case Studies {% endblock %}

{% block content %}
    {% include "includes/main-nav.html" %}
    <!-- Breadcrumb Menu -->
    {% include "includes/breadcrumbs.html" %}
    <!-- Page Heading -->
    <div class="page-heading">
        <div class="container">
            <h1>Case Studies</h1>
            <div class="heading-border"></div>
        </div>
    </div>
    <!-- Introduction section-->
    {% include "includes/intro_content.html" %}
    <!-- Case studies section -->
    {% include "includes/casestudy_card.html" %}
    <!-- Internal Link -->
    {% include "includes/back_to_homepage_link.html" %}
    <!-- Footer -->
    {% include "includes/footer.html" %}
{% endblock %}