<div class="container" method='GET' action="{% url 'services' %}">
    <div class="row">
        <div class="col-12 service-filter">
            <a href="{% url 'services' %}?type=Development,Design,Marketing,Hosting" class="filter-button active">Show all</a>
            <a href="{% url 'services' %}?type=Development" class="filter-button">Development</a>
            <a href="{% url 'services' %}?type=Design" class="filter-button">Design</a>
            <a href="{% url 'services' %}?type=Marketing" class="filter-button">Marketing</a>
            <a href="{% url 'services' %}?type=Hosting" class="filter-button">Hosting</a>
        </div>
    </div>
</div>