<!-- Add to cart button & quantity form -->
<form class="form" action="{% url 'add_to_bag' service.id %}" method="POST">
    {% csrf_token %}
    <div class="form-row">
        <p class="col-12"><strong>Quantity:</strong></p>
        <div class="col-sm-12 col-m-4 form-group w-50">
            <div class="input-group">
                <!-- Decrement quantity -->
                <div class="input-group-prepend">
                    <button class="decrement-qty btn" 
                    data-item_id="{{ service.id }}" id="decrement-qty_{{ service.id }}">
                        <span class="icon">
                            <i class="fas fa-minus"></i>
                        </span>
                    </button>
                </div>
                <input class="form-control qty_input service-qty" type="number" 
                    name="quantity" value="1" min="1" max="5" data-item_id="{{ service.id }}" id="id_qty_{{ service.id }}">
                <!-- Increment quantity -->
                <div class="input-group-append">
                    <button class="increment-qty btn"
                    data-item_id="{{ service.id }}" id="increment-qty_{{ service.id }}">
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <!-- Form buttons -->
        <div class="col-12">
            <input type="submit" class="btn service-btn" value="Add to Bag">
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
        </div>
    </div>
</form> <!-- Form ends -->