<section>
    {% for service in services %}
        <div class="container page-section">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-4">
                    <!-- Service name -->
                    <h5 class="service-name">{{ service.name }}</h5>
                </div>
            </div>
            <!-- Service description -->
            <div class="service-description">
                <div class="row">
                    <div class="col-xs-6 col-md-6 col-lg-4">
                        <!-- Service image -->
                        {% if service.image %}
                            <a href="{% url 'service_detail' service.id %}">
                                <img class="card-img-top img-fluid service-image" src="{{ service.image.image.url }}" alt="{{ service.name }}">
                            </a>
                        {% else %}
                            <a href="{% url 'service_detail' service.id %}">
                                <img class="img-fluid service-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ service.name }}">
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-xs-6 col-md-6 col-lg-8 service-content">
                        <!-- Service type -->
                        <span class="service-type type">{{ service.category|safe }} | <strong>{{ service.type|safe }}</strong></span>
                        <!-- Service description -->
                        <p>{{ service.description|truncatechars:150|safe }}</p>
                        <!-- Service price -->
                        <p>
                            <!-- Resource: Font Awesome icon https://fontawesome.com/v5.15/icons/credit-card?style=solid-->
                            <i class="fas fa-credit-card"></i>
                            <strong> Price:</strong> ${{ service.price|safe }}
                        </p>
                        <div>
                            <a href="{% url 'service_detail' service.id %}" class="btn service-custom-button">
                                <span>Find Out More</span>
                                <span class="icon">
                                    <i class="fas fa-chevron-right"></i>
                                </span>
                            </a>
                        </div>
                        <!-- Super user add/edit buttons -->
                        <div>
                            {% if request.user.is_superuser %}
                            <small class="edit-delete-background">
                                <!-- Resource: Delete icon from Font Awesome - https://fontawesome.com/v5.15/icons/pen-square?style=solid -->
                                <a href="{% url 'edit_service' service.id %}" class="admin-edit">
                                    <i class="fas fa-pen-square"></i> Edit | 
                                </a>
                                <!-- Resource: Delete icon from Font Awesome - https://fontawesome.com/v5.15/icons/minus-square?style=solid -->
                                <a class="admin-delete" href="{% url 'delete_service' service.id %}">
                                    <i class="fas fa-minus-square"></i> Delete
                                </a>
                            </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    {% endfor %}
</section>