<section>
    <div class="container intro-section services-intro">
        <div class="row">
            <p class="col-xs-12 col-md-6">
                WEBI offers a range of freelance services to meet your business development, design and marketing needs. Browse through the services below and select ones that best suit your business requirements.
            </p>
            <p class="col-xs-12 col-md-6">
                All services are offered at an affordable price and you can include as many, or as little, as you want. Not quite sure yet? Take a read of our <a href="{% url 'casestudies' %}"><strong>case studies here.</strong></a>
            </p>
        </div>
    </div>
</section>