{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Error 404 {% endblock %}

{% block content %}
    <div class="correct-header">
    </div>
    <!-- Page Heading -->
    <div class="page-heading">
        <div class="container">
            <h1>Error 404</h1>
            <div class="heading-border"></div>
        </div>
    </div>
    <div class="container intro-section">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h2>Oops!</h2> 
                <p>
                    It looks like you've reached a URL that doesn't exist. Hmmm... Maybe what you're looking for can be found on the Services page?
                </p>
            </div>
        </div>
    </div>
    <!-- Explore services -->
    <div class="container">
        <span class="row">
            <span>
                <a href="{% url 'home' %}" class="btn secondary-link ml-5">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>Home</span>
                </a>
            </span>
            <span>
                <a href="{% url 'services' %}" class="btn custom-button">
                    <span>Explore Services</span>
                    <span class="icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </a>
            </span>
        </span>
    </div>
    <!-- Back to home -->
    <!-- Footer -->
    {% include "includes/footer.html" %}
{% endblock %}