{% load static %}

<!-- Resource: Bootstrap https://getbootstrap.com/docs/4.4/getting-started/introduction/#starter-template -->
<!doctype html>
<html lang="en">
    <head>
        {% block meta %}
            <!-- Support older Internet Explorer versions -->
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block extra_meta %} <!-- For additional meta -->
        {% endblock %}

        {% block corecss %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
            <!-- Lato & Roboto font sourced from Google Fonts - https://fonts.google.com/specimen/Lato?query=lato -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap" rel="stylesheet">
        {% endblock %}

        {% block extra_css %} <!-- For additional css -->
        {% endblock %}

        {% block corejs %}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}

        {% block extra_js %} <!-- For additional js -->
        {% endblock %}
        
        <title>Webi {% block extra_title %} {% endblock %}</title>
    </head>
    <body>
        <header class="container-fluid fixed-top">
            <!-- Resource: Bootstrap Navbar code sourced from - https://getbootstrap.com/docs/4.0/components/navbar/ -->
            <div class="top-header">
                <a href="#">Basket</a>
                <a href="#">My Account</a>
            </div>
            <nav class="container navbar navbar-expand-lg navbar-light bg-light custom-nav">
                <a class="navbar-brand" href="#">
                    <img class="logo" src="../media/webi-logo.png">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav mr-sm-2">
                        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="#">Services</a>
                        <a class="nav-item nav-link" href="#">Case studies</a>
                        <a class="nav-item nav-link" href="#">About</a>
                        <a class="nav-item nav-link" href="#">Blog</a>
                    </div>
                </div>
            </nav>
            <div class="hero-image">
                <div class="container">
                    <h1 class="hero-h1">Freelance Website <br> Development</h1>
                    <ul class="ul-hero">
                        <li>Affordable Prices</li>
                        <li>24/7 Support</li>
                        <li>100% Customer Satisfaction</li>
                    </ul>
                    <!-- Resource: https://getbootstrap.com/docs/4.0/components/buttons/ -->
                    <a href="#" role="button" class="btn hero-btn">Our Services</a>
                </div>
            </div>
        </header>
        {% if messages %}
            <div class="message-container"></div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block postloadjs %}
        {% endblock %}

    </body>
</html>
