{% extends "base.html" %}

{% load static %}
{% block extra_title %} - About {% endblock %}


{% block content %}
    {% include "includes/main-nav.html" %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
    </nav>

    <div class="page-heading">
        <div class="container">
            <h1>About</h1>
            <div class="heading-border"></div>
        </div>
    </div>  

{% include "includes/footer.html" %}
{% endblock %}