{% extends "base.html" %}
{% load static %}

{% block extra_title %} - About {% endblock %}

{% block content %}
    <div class="correct-header">
    </div>
    <!-- Breadcrumbs menu -->
    {% include "includes/about_breadcrumbs.html" %}
    <!-- Page Heading -->
    <div class="page-heading">
        <div class="container">
            <h1>About</h1>
            <div class="heading-border"></div>
        </div>
    </div>
    <!-- Introduction Section-->
    {% include "includes/about_intro.html" %}
    <!-- Quote Section-->
    {% include "includes/about_quote.html" %}
    <!-- Our Services Section -->
    {% include "includes/our_services.html" %}
    <!-- Featured Case Studies section -->
    {% include "includes/featured_case_study.html" %}
    <!-- Internal Link -->
    {% include "includes/back_to_homepage_link.html" %}
    <!-- Footer -->
    {% include "includes/footer.html" %}
{% endblock %}