{% extends "base.html" %}
{% load static %}


{% block extra_title %} - Checkout {% endblock %}
{% block content %}
    {% include "includes/main-nav.html" %}
    <!-- Page Title -->
    <div class="page-heading">
        <div class="container">
            <div class="col-12 col-md-6">
                <h1>Product Management</h1>
                <div class="heading-border"></div>
                <h5 class="text-muted">Add a Product</h5>
            </div>
        </div>
    </div>  
    <div class="container">
        <div class="row">

        </div>
    </div>
{% endblock %}

