{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Bundles {% endblock %}
{% block content %}
    {% include "includes/main-nav.html" %}
    <!-- Breadcrumb Menu -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Bundles</li>
        </ol>
    </nav>
    <!-- Page Title -->
    <div class="page-heading">
        <div class="container">
            <h1>Bundles</h1>
            <div class="heading-border"></div>
        </div>
    </div>  
    <!-- Introduction section-->
    <section>
        <div class="container page-section">
            <div class="row">
                <div class="col-12">
                    <p>
                        Are you looking for an affordable website package for your business? Look no further than our website bundles! The bundles encorporate some of the most popular website services under one package to suit your business needs. WEBI offers <strong>four main bundles - Static Website, E-Commerce Website, Portfolio Website and a Blog Website.</strong> Browse through the bundles below and select ones that best suit your business requirements.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Bundles section -->
    {% include "includes/bundle_card.html" %}
    <!-- Internal Link -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br>
                <a href="{% url 'addons' %}" class="btn secondary-link">
                    <span>Explore Website Addons</span>
                    <span class="icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <!-- Footer -->
    {% include "includes/footer.html" %}
{% endblock %}