{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Bundles {% endblock %}
{% block content %}
    {% include "includes/main-nav.html" %}
    <!-- Breadcrumb Menu -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Bundles</li>
        </ol>
    </nav>
    <!-- Page Title -->
    <div class="page-heading">
        <div class="container">
            <h1>Bundles</h1>
            <div class="heading-border"></div>
        </div>
    </div>  
    <!-- Introduction section-->
    <section>
        <div class="container page-section">
            <div class="row">
                <div class="col-12">
                    <p>
                        Are you looking for an affordable website package for your business? Look no further than our website bundles! The bundles encorporate some of the most popular website services under one package to suit your business needs. WEBI offers <strong>four main bundles - Static Website, E-Commerce Website, Portfolio Website and a Blog Website.</strong> Browse through the bundles below and select ones that best suit your business requirements.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Bundles section -->
    <section class="container page-section">
        <div class="row">
            {% for bundle in bundles %}
                <div class="col-md-5 bundle">
                    <h5 class="addon-name">{{ bundle.name }}</h5>
                    <img class="addon-image" src="/media/placeholder2_GrheKhO.jpg">
                    <div class="service-description">
                        <br>
                        <span class="bundle-category">
                            {{ bundle.category|safe }} | <strong>{{ bundle.name }}</strong>
                        </span>
                        <p>
                            {{ bundle.description|truncatechars:150|safe }}
                            {% for addon in bundle.addon.all %}
                                <ul class="ul-bundle"> 
                                    <li>{{ addon.name }}</li>
                                </ul>
                            {% endfor %}
                        </p>
                        <p class="bundle-price">
                            <strong>Price:</strong> {{ bundle.price|safe }}
                        </p>
                        <button class="btn bundle-btn">Find out more</button>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
    </section>
    <!-- Internal Link -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br>
                <a href="{% url 'addons' %}" class="btn internal-link">
                    <span>Explore Website Addons</span>
                    <span class="icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <!-- Footer -->
    {% include "includes/footer.html" %}
{% endblock %}