{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Service Management {% endblock %}

{% block content %}
    {% include "includes/main-nav.html" %}
    <!-- Page Title -->
    <div class="page-heading">
        <div class="container">
            <div class="col-12 col-md-6">
                <h1>Service Management</h1>
                <div class="heading-border"></div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <br>
                    <br>
                    <h5 class="text-muted">Edit a Service</h5>
                    <form method="POST" action="{% url 'edit_service' service.id %}" class="form add-edit-service-form mb-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="text-right">
                            <a class="btn secondary-link" href="{% url 'services' %}">Cancel</a>
                            <button class="btn custom-button" type="submit">Update Service</button>
                        </div>
                    </form>
                </div>      
            </div>
        </div>
    </div>  
{% endblock %}