{% extends "base.html" %}
{% load static %}

{% block extra_title %} - {{ service.name }} {% endblock %}
{% block content %}
    {% include "includes/main-nav.html" %}
    <!-- Breadcrumb Menu -->
    {% include "includes/service_detail_breadcrumbs.html" %}
    <!-- Page Heading -->
    <div class="page-heading">
        <div class="container">
            <h1>{{ service.name }}</h1>
            <div class="heading-border"></div>
        </div>
    </div>
    <!-- Service Details -->
    {% include "includes/service_detail_card.html" %}
    <!-- Internal Link -->
    {% include "includes/back_to_services_link.html" %}
    <!-- Footer-->
    {% include "includes/footer.html" %}
{% endblock %}
<!-- JavaScript-->
{% block postloadjs %}
    {{ block.super }}
    {% include 'includes/quantity_input_script.html' %}
{% endblock %}