{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Services {% endblock %}
{% block content %}
    {% include "includes/main-nav.html" %}
    <!-- Breadcrumb Menu -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Services</li>
        </ol>
    </nav>
    <!-- Page Title -->
    <div class="page-heading">
        <div class="container">
            <h1>Services</h1>
            <div class="heading-border"></div>
        </div>
    </div>  
    <!-- Introduction section-->
    <section>
        <div class="container page-section">
            <div class="row">
                <p>
                    WEBI offers a range of add-ons to meet your development needs. These range from design to development services and also marketing add-ons. Browse through the add-ons below and select ones that best suit your business needs. Include as many, or as little, as you want.
                </p>
            </div>
        </div>
    </section>
    <!-- Filter section -->
    <div class="container" method='GET' action="{% url 'services' %}">
        <div class="row">
            <div class="addon-filter">
                <a href="{% url 'services' %}?type=Development,Design,Marketing,Hosting" class="filter-button active">Show all</a>
                <a href="{% url 'services' %}?type=Development" class="filter-button">Development</a>
                <a href="{% url 'services' %}?type=Design" class="filter-button">Design</a>
                <a href="{% url 'services' %}?type=Marketing" class="filter-button">Marketing</a>
                <a href="{% url 'services' %}?type=Hosting" class="filter-button">Hosting</a>
            </div>
        </div>
    </div>
    <!-- Add-ons section -->
    <section>
        {% for addon in addons %}
            <div class="container page-section">
                <div class="row">
                    <div class="col-4">
                        <h5 class="addon-name">{{ addon.name }}</h5>
                    </div>
                </div>
                <div class="service-description">
                    <div class="row">
                        <div class="col-4">
                            {% if addon.image %}
                            <a href="{% url 'service_detail' addon.id %}">
                                <img class="card-img-top img-fluid service-image" src="{{ addon.image.image.url }}" alt="{{ addon.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'service_detail' addon.id %}">
                                <img class="img-fluid service-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ addon.name }}">
                            </a>
                            {% endif %}
                        </div>
                        <div class="col-8">
                            <span class="addon-type">{{ addon.category|safe }} | <strong>{{ addon.type|safe }}</strong></span>
                            <p>{{ addon.description|safe }}</p>
                            <strong><p>Price:</strong> {{ addon.price|safe }}</p>
                            <!-- Add to cart button & quantity -->
                            <form class="form" action="{% url 'add_to_bag' addon.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <p><strong>Quantity:</strong></p>
                                    <span class="form-group">
                                        <div class="input-group">
                                            <!-- Prepend to quantity -->
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn" 
                                                data-item_id="{{ addon.id }}" id="decrement-qty_{{ addon.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-minus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control qty_input addon-qty" type="number" 
                                                name="quantity" value="1" min="1" max="5" data-item_id="{{ addon.id }}" id="id_qty_{{ addon.id }}">
                                            <!-- Append to quantity -->
                                            <div class="input-group-append">
                                                <button class="increment-qty btn"
                                                data-item_id="{{ addon.id }}" id="increment-qty_{{ addon.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </span>
                                    <input type="submit" class="btn addon-btn" value="Add to Bag">
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </div>
                            </form>
                        </div>
                    </div>
                </div> 
            </div>
        {% endfor %}
    </section>
    <!-- Internal Link -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br>
                <a href="{% url 'bundles' %}" class="btn secondary-link">
                    <span>Explore Website Bundles</span>
                    <span class="icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <!-- Footer -->
    {% include "includes/footer.html" %}
{% endblock %}

<!-- JavaScript -->
{% block postloadjs %}
    {{ block.super }}
    {% include 'includes/quantity_input_script.html' %}
{% endblock %}
